@model AspFoodProject.Models.Competition

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Competition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderDateTime1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDateTime1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.hours1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.hours1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phase)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EventId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
