@model AspFoodProject.Models.Recipe

@{
    ViewData["Title"] = "Details of the Recipe";
}
<header>
    <nav class="navbar navbar-expand navbar-dark bg-success">
        <div class="container-fluid">
            <a class="nav-link text-dark" asp-area="HomePage" asp-controller="FoodRecipes" asp-action="Index">
                <img src="~/Images/logo.png" style="width:35px" /> Food Recipe
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="active">
                    <a class="nav-link text-dark" asp-area="HomePage" asp-controller="FoodRecipes" asp-action="Index">Home</a>

                </li>
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-page="/about1">About</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-page="/services1">Services</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-page="/gallery1">Gallery</a>
                </li>
                <li class="#">
                    <a class="nav-link text-dark" asp-area="" asp-page="/contact1">Contact</a>
                </li>

                <!-- DROPDOWN OPTIONS -->
                <li class="nav-item dropdown">
                <li class="nav-item dropdown">
                    <button type="button" class="btn btn-primary">User</button>
                    <button type="button" class="btn btn-prim dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu">

                        <a class="dropdown-item"
                           asp-area="ManageTable" asp-controller="Home" asp-action="Index">Subcategory</a>


                        <a class="dropdown-item"
                           asp-area="ManageTable" asp-controller="Home" asp-action="Index1">Recipe</a>

                        <a class="dropdown-item"
                           asp-area="Food" asp-controller="Recipes" asp-action="Index1">Add Recipe</a>

                        <a class="dropdown-item"
                           asp-area="Food" asp-controller="Competitions" asp-action="Index1">Event</a>

                        <a class="dropdown-item"
                           asp-area="Food" asp-controller="Comments" asp-action="Index1">Add Comment</a>

                        <a class="dropdown-item"
                           asp-area="Food" asp-controller="Registerations" asp-action="Index1">Add Registeration</a>


                    </div>
                </li>




            </ul>
        </div>

    </nav>
</header>

<h1 style="color:black"><center> @ViewData["Title"]</center></h1>


<div>

    <hr />

    <div>


        <div class="card" style="width:500px">

            <img class="card-img-top" src="@Model.ImageUrl" alt="@Model.RecipeName"
                 style="max-height: 300px;">
            <div class="card-body">
                <h4 class="card-title">@Model.RecipeName</h4>
                <div class="row">
                    <div class="col card-text">
                        @Html.DisplayNameFor(model => model.Ingredients)
                    </div>
                    <div class="col card-text">
                        @Html.DisplayFor(model => model.Ingredients)
                    </div>

                </div>
                <div class="row">
                    <div class="col card-text">
                        @Html.DisplayNameFor(model => model.RecipeDescription)
                    </div>
                    <div class="col card-text">
                        @Html.DisplayFor(model => model.RecipeDescription)
                    </div>

                </div>
                <div class="row">
                    <div class="col card-text">
                        @Html.DisplayNameFor(model => model.OrderDateTime)
                    </div>
                    <div class="col card-text">
                        @Html.DisplayFor(model => model.OrderDateTime)
                    </div>

                </div>
                <div class="row">
                    <div class="col card-text">
                        @Html.DisplayNameFor(model => model.hours1)
                    </div>
                    <div class="col card-text">
                        @Html.DisplayFor(model => model.hours1)
                    </div>

                </div>
                <div class="row">
                    <div class="col card-text">
                        @Html.DisplayNameFor(model => model.hours2)
                    </div>
                    <div class="col card-text">
                        @Html.DisplayFor(model => model.hours2)
                    </div>

                </div>
                <div class="row">
                    <div class="col card-text">
                        @Html.DisplayNameFor(model => model.Name)
                    </div>
                    <div class="col card-text">
                        @Html.DisplayFor(model => model.Name)
                    </div>

                </div>
                <div class="row">
                    <div class="col card-text">
                        @Html.DisplayNameFor(model => model.EmailID)
                    </div>
                    <div class="col card-text">
                        @Html.DisplayFor(model => model.EmailID)
                    </div>

                </div>
            </div>
            <div class="card-footer text-center">
                <button type="button" class="btn btn-primary">  <a style="color:black" asp-action="Edit1" asp-route-id="@Model.RecipeId">Edit</a> </button> |

                <button type="button" class="btn btn-warning"> <a style="color:black" asp-action="Index1">Back to List</a> </button>
            </div>
        </div>

