@model IEnumerable<AspFoodProject.Models.Customer>

@{
    ViewData["Title"] = "List of Customers";
}

<header>
	<nav class="navbar navbar-expand navbar-dark bg-success">
		<div class="container-fluid">
			<a class="nav-link text-dark" asp-area="" asp-page="/Index">
				<img src="~/Images/logo.png" style="width:35px" /> Food Recipe
			</a>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">

				<li class="active">
					<a class="nav-link text-dark"
					   asp-area="HomePage" asp-controller="FoodRecipes" asp-action="Index">Home</a>
				</li>
				<li>
					<a class="nav-link text-dark" asp-area="" asp-page="/about">About</a>
				</li>
				<li>
					<a class="nav-link text-dark" asp-area="" asp-page="/services">Services</a>
				</li>
				<li>
					<a class="nav-link text-dark" asp-area="" asp-page="/gallery">Gallery</a>
				</li>
				<li class="#">
					<a class="nav-link text-dark" asp-area="" asp-page="/contact">Contact</a>
				</li>

				<!-- DROPDOWN OPTIONS -->
				<li class="nav-item dropdown">
				<li class="nav-item dropdown">
					<button type="button" class="btn btn-primary">Admin</button>
					<button type="button" class="btn btn-prim dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					</button>
					<div class="dropdown-menu">

						<a class="dropdown-item"
						   asp-area="Food" asp-controller="Categories" asp-action="Index">Add Category</a>


						<a class="dropdown-item"
						   asp-area="Food" asp-controller="SubCategories" asp-action="Index">Add SubCategory</a>

						<a class="dropdown-item"
						   asp-area="Food" asp-controller="Recipes" asp-action="Index">Recipe</a>

						<a class="dropdown-item"
						   asp-area="Food" asp-controller="Customers" asp-action="Index">Add Customer</a>

						<a class="dropdown-item"
						   asp-area="Food" asp-controller="Competitions" asp-action="Index">Add Event</a>

						<a class="dropdown-item"
						   asp-area="Food" asp-controller="Comments" asp-action="Index">Comment</a>

						<a class="dropdown-item"
						   asp-area="Food" asp-controller="Registerations" asp-action="Index">Registeration</a>


					</div>
				</li>




			</ul>
		</div>

	</nav>
</header>

<h1 style="color:black"><center> @ViewData["Title"]</center></h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobilePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobilePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailID)
            </td>
            <td>
				   	<button type="button" class="btn btn-primary">  <a style="color:black" asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> </button>

					<button type="button" class="btn btn-success">  <a style="color:black" asp-action="Details" asp-route-id="@item.CustomerId">Details</a> </button>
					<button type="button" class="btn btn-danger">  <a style="color:black" asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a> </button>

				</td>
        </tr>
}
    </tbody>
</table>
