@model IEnumerable<AspFoodProject.Models.Customer>

@{
    ViewData["Title"] = "List of Customers";
}

<header>
	<nav class="navbar navbar-expand navbar-dark bg-success">
		<div class="container-fluid">
			<a class="nav-link text-dark" asp-area="" asp-page="/Index">
				<img src="~/Images/logo.png" style="width:35px" /> Food Recipe
			</a>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">

				<li class="active">
					<a class="nav-link text-dark"
					   asp-area="HomePage" asp-controller="FoodRecipes" asp-action="Index">Home</a>
				</li>
				<li>
					<a class="nav-link text-dark" asp-area="" asp-page="/about">About</a>
				</li>
				<li>
					<a class="nav-link text-dark" asp-area="" asp-page="/services">Services</a>
				</li>
				<li>
					<a class="nav-link text-dark" asp-area="" asp-page="/gallery">Gallery</a>
				</li>
				<li class="#">
					<a class="nav-link text-dark" asp-area="" asp-page="/contact">Contact</a>
				</li>

				  <!-- DROPDOWN OPTIONS -->
                <li class="nav-item dropdown">
                <li class="nav-item dropdown">
                    <button type="button" class="btn btn-primary">User</button>
                    <button type="button" class="btn btn-prim dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu">

                        <a class="dropdown-item"
                           asp-area="ManageTable" asp-controller="Home" asp-action="Index">Subcategory</a>


                        <a class="dropdown-item"
                           asp-area="ManageTable" asp-controller="Home" asp-action="Index1">Recipe</a>

                        <a class="dropdown-item"
                           asp-area="Food" asp-controller="Recipes" asp-action="Index1">Add Recipe</a>

                        <a class="dropdown-item"
                           asp-area="Food" asp-controller="Competitions" asp-action="Index1">Event</a>

                        <a class="dropdown-item"
                           asp-area="Food" asp-controller="Comments" asp-action="Index1">Add Comment</a>

                        <a class="dropdown-item"
                           asp-area="Food" asp-controller="Registerations" asp-action="Index1">Add Registeration</a>


                    </div>
                </li>




			</ul>
		</div>

	</nav>
</header>

<h1 style="color:black"><center> @ViewData["Title"]</center></h1>

<p>
	<center>
		<button type="button" class="btn btn-primary"> <a style="color:black" asp-action="Create">Create New</a> </button>

	</center>
</p></p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobilePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobilePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailID)
            </td>
            <td>

					<button type="button" class="btn btn-success">  <a style="color:black" asp-action="Details1" asp-route-id="@item.CustomerId">Details</a> </button>

            </td>
        </tr>
}
    </tbody>
</table>
