@model AspFoodProject.Models.Registeration

@{
    ViewData["Title"] = "Details of the Participants";
}

<header>
	<nav class="navbar navbar-expand navbar-dark bg-success">
		<div class="container-fluid">
			<a class="nav-link text-dark" asp-area="HomePage" asp-controller="FoodRecipes" asp-action="Index">
			<img src="~/Images/logo.png" style="width:35px" /> Food Recipe
			</a>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">

				<li class="active">
				<a class="nav-link text-dark" asp-area="HomePage" asp-controller="FoodRecipes" asp-action="Index">Home</a>

				</li>
				<li>
					<a class="nav-link text-dark" asp-area="" asp-page="/about1">About</a>
				</li>
				<li>
					<a class="nav-link text-dark" asp-area="" asp-page="/services1">Services</a>
				</li>
				<li>
					<a class="nav-link text-dark" asp-area="" asp-page="/gallery1">Gallery</a>
				</li>
				<li class="#">
					<a class="nav-link text-dark" asp-area="" asp-page="/contact1">Contact</a>
				</li>

				<!-- DROPDOWN OPTIONS -->
				<li class="nav-item dropdown">
				<li class="nav-item dropdown">
					<button type="button" class="btn btn-primary">User</button>
					<button type="button" class="btn btn-prim dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					</button>
					<div class="dropdown-menu">

                        <a class="dropdown-item"
                           asp-area="ManageTable" asp-controller="Home" asp-action="Index">Subcategory</a>


                        <a class="dropdown-item"
                           asp-area="ManageTable" asp-controller="Home" asp-action="Index1">Recipe</a>

                        <a class="dropdown-item"
                           asp-area="Food" asp-controller="Recipes" asp-action="Index1">Add Recipe</a>

                        <a class="dropdown-item"
                           asp-area="Food" asp-controller="Competitions" asp-action="Index1">Event</a>

                        <a class="dropdown-item"
                           asp-area="Food" asp-controller="Comments" asp-action="Index1">Add Comment</a>

                        <a class="dropdown-item"
                           asp-area="Food" asp-controller="Registerations" asp-action="Index1">Add Registeration</a>


					</div>
				</li>




			</ul>
		</div>

	</nav>
</header>
<h1 style="color:black"><center> @ViewData["Title"]</center></h1>


<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegisterAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegisterAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegisterNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegisterNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegisterEmailID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegisterEmailID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Competition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Competition.EventName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>
    </dl>
</div>
<div>
    <button type="button" class="btn btn-warning"> <a style="color:black" asp-action="Index1">Back to List</a> </button>
</div>
