@model AspFoodProject.Models.Registeration

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Registeration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegisterAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegisterAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegisterNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegisterNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegisterEmailID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegisterEmailID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Competition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Competition.EventAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.CustomerAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RegisterId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
