@model IEnumerable<AspFoodProject.Models.Registeration>

@{
    ViewData["Title"] = "List of Registerations";
}
<header>
    <nav class="navbar navbar-expand navbar-dark bg-success">
        <div class="container-fluid">
            <a class="nav-link text-dark" asp-area="" asp-page="/Index">
                <img src="~/Images/logo.png" style="width:35px" /> Food Recipe
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="active">
                    <a class="nav-link text-dark"
                       asp-area="HomePage" asp-controller="FoodRecipes" asp-action="Index">Home</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-page="/about">About</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-page="/services">Services</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-page="/gallery">Gallery</a>
                </li>
                <li class="#">
                    <a class="nav-link text-dark" asp-area="" asp-page="/contact">Contact</a>
                </li>

                <!-- DROPDOWN OPTIONS -->
                <li class="nav-item dropdown">
                <li class="nav-item dropdown">
                    <button type="button" class="btn btn-primary">Admin</button>
                    <button type="button" class="btn btn-prim dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu">

                        <a class="dropdown-item"
                           asp-area="Food" asp-controller="Categories" asp-action="Index">Add Category</a>


                        <a class="dropdown-item"
                           asp-area="Food" asp-controller="SubCategories" asp-action="Index">Add SubCategory</a>

                        <a class="dropdown-item"
                           asp-area="Food" asp-controller="Recipes" asp-action="Index">Recipe</a>

                        <a class="dropdown-item"
                           asp-area="Food" asp-controller="Customers" asp-action="Index">Add Customer</a>

                        <a class="dropdown-item"
                           asp-area="Food" asp-controller="Competitions" asp-action="Index">Add Event</a>

                        <a class="dropdown-item"
                           asp-area="Food" asp-controller="Comments" asp-action="Index">Comment</a>

                        <a class="dropdown-item"
                           asp-area="Food" asp-controller="Registerations" asp-action="Index">Registeration</a>


                    </div>
                </li>




            </ul>
        </div>

    </nav>
</header>
<h1 style="color:black"><center> @ViewData["Title"]</center></h1>

<hr/>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegisterAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterEmailID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterEmailID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Competition.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerName)
            </td>
            <td>
                        <button type="button" class="btn btn-success">  <a style="color:black" asp-action="Details1" asp-route-id="@item.RegisterId">Details</a> </button>
            </td>
        </tr>
}
    </tbody>
</table>
