@model IEnumerable<AspFoodProject.Models.Comment>

@{
    ViewData["Title"] = "List of Comments";
}
<header>
    <nav class="navbar navbar-expand navbar-dark bg-success">
        <div class="container-fluid">
            <a class="nav-link text-dark" asp-area="HomePage" asp-controller="FoodRecipes" asp-action="Index">
                <img src="~/Images/logo.png" style="width:35px" /> Food Recipe
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="active">
                    <a class="nav-link text-dark" asp-area="HomePage" asp-controller="FoodRecipes" asp-action="Index">Home</a>

                </li>
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-page="/about1">About</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-page="/services1">Services</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-page="/gallery1">Gallery</a>
                </li>
                <li class="#">
                    <a class="nav-link text-dark" asp-area="" asp-page="/contact1">Contact</a>
                </li>

                <!-- DROPDOWN OPTIONS -->
                <li class="nav-item dropdown">
                <li class="nav-item dropdown">
                    <button type="button" class="btn btn-primary">User</button>
                    <button type="button" class="btn btn-prim dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu">

                        <a class="dropdown-item"
                           asp-area="ManageTable" asp-controller="Home" asp-action="Index">Subcategory</a>


                        <a class="dropdown-item"
                           asp-area="ManageTable" asp-controller="Home" asp-action="Index1">Recipe</a>

                        <a class="dropdown-item"
                           asp-area="Food" asp-controller="Recipes" asp-action="Index1">Add Recipe</a>

                        <a class="dropdown-item"
                           asp-area="Food" asp-controller="Competitions" asp-action="Index1">Event</a>

                        <a class="dropdown-item"
                           asp-area="Food" asp-controller="Comments" asp-action="Index1">Add Comment</a>

                        <a class="dropdown-item"
                           asp-area="Food" asp-controller="Registerations" asp-action="Index1">Add Registeration</a>


                    </div>
                </li>




            </ul>
        </div>

    </nav>
</header>
<h1 style="color:black"><center> @ViewData["Title"]</center></h1>

<p>
    <center>
        <button type="button" class="btn btn-primary"> <a style="color:black" asp-action="Create">Create New</a> </button>

    </center>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CommentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.query)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.query)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recipe.RecipeName)
                </td>
                <td>
                    <button type="button" class="btn btn-success">  <a style="color:black" asp-action="Details1" asp-route-id="@item.CommentId">Details</a> </button>
                </td>
            </tr>
        }
    </tbody>
</table>
